body {
  margin: 0;
  background-color: var(--c-back-alt);
  color:var(--c-main);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-size: small;
}

code, h1, h2, h3, p, span {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  font-weight: bold;
  font-size: medium;
}
h2,h3{
  font-weight: normal;
  font-size: small;
}
h1 {
  text-decoration: underline;
}

*, *::after, *::before{
  box-sizing: border-box;
}

ul{
  padding: 0;
  padding-left: 0.5rem;
}
ul li{
  list-style: none;
}
/* ul li::marker{
  content: ">>";
} */

input[type=text]{
  color: var(--c-main);
  background-color: var(--c-back);
  border: none;
  font: inherit;
  flex-grow: 1;
}
input[type=text]:hover {
  background-color: var(--c-hover);
}
input[type=text]:focus {
  outline: none !important;
  background-color: var(--c-sel);
  color: var(--c-sel-alt);
}

button, 
input[type=submit], 
input[type=button] {
  background-color: var(--c-high);
  color: var(--c-high-alt);
  border: none;
  /* margin-right: 0.25rem; */
  /* margin-block: 2px; */
  border-bottom:2px solid var(--c-sel);
  padding: 0.25rem;
}
button:hover, 
input[type=submit]:hover, 
input[type=button]:hover  {
  background-color: var(--c-hover);
  color: var(--c-hover-alt);
}
/* 
.tooltipped{
  position: relative;
} */

.tooltipped::before
{ 
  position: relative;
  grid-area: tooltips;
  background-color: var(--c-sel);
  color: var(--c-sel-alt);
}
.tooltipped:hover::before
{
  /* content: attr(data-tooltip); */
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.MinimButton{
  position: relative;
}
.OptionPanel {
  margin: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  background-color: var(--c-back);
  color: var(--c-back);
  top:90%;
  left:0;;
  z-index: 20;
  filter: drop-shadow(0 0 5px var(--c-high));
}
.MinimButton:hover .OptionPanel { 
  opacity: 1;
  pointer-events: unset;
}
.OptionPanel button{
  background-color: var(--c-high);
}

.MenuTitle {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  text-transform:uppercase;
  background-color: var(--c-high);
  color: var(--c-high-alt);
  display: flex;
  justify-content: space-between;
  border-bottom:2px solid var(--c-sel);
  position: relative;
  z-index: 10;
}
.MenuTitle button {
  -webkit-app-region: no-drag;
  border: none;
}
.AppContent {
  /* overflow-y: scroll; */
  flex-grow: 1;
  background-color: var(--c-back-alt);
  color:var(--c-main);
  overflow-y: scroll;
  position: relative;

  display: grid;
  grid-template-areas:
    "stream stream"
    "cmd tools"
    "cmd screens"
    "cmd tooltips";
  grid-template-columns: max(4rem, min-content) 1fr;
  grid-template-rows: 2rem 2rem 1fr 2rem;
}

.StreamView {
  grid-area: stream;
}

.CommandButtons{
  grid-area: tools;
}

.StreamCodeBlocks {
  grid-area: cmd;
  background-color: var(--c-back);
}

.MinimScreenArray {
  grid-area: screens;
}
