body {
  margin: 0;
  background-color: var(--c-back-alt);
  color:var(--c-main);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  font-size: small;
}

code, h1, h2, h3, p, span {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, h2, h3 {
  font-weight: normal;
}

*, *::after, *::before{
  box-sizing: border-box;
}

button, input[type=submit], input[type=button] {
  background-color: var(--c-high);
  color: var(--c-high-alt);
  border: none;
  /* margin-right: 0.25rem; */
  /* margin-block: 2px; */
  border-bottom:2px solid var(--c-sel);
}
button:hover, input[type=submit]:hover, input[type=button]:hover  {
  background-color: var(--c-hover);
  color: var(--c-hover-alt);
}
input[type=text]{
  color: var(--c-main);
  background-color: var(--c-back);
  border: none;
  font: inherit;
  flex-grow: 1;
}
input[type=text]:hover {
  background-color: var(--c-hover);
}
input[type=text]:focus {
  outline: none !important;
  background-color: var(--c-sel);
  color: var(--c-sel-alt);
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.MenuTitle {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  text-transform:uppercase;
  background-color: var(--c-high);
  color: var(--c-high-alt);
  display: flex;
  justify-content: space-between;
  border-bottom:2px solid var(--c-sel);
  padding-top:0.25rem;
}
.MenuTitle button {
  -webkit-app-region: no-drag;
  border: none;
}
.AppContent {
  /* overflow-y: scroll; */
  flex-grow: 1;
  background-color: var(--c-back-alt);
  color:var(--c-main);
  position: relative;
  display: flex;
  flex-direction: column;
}
