
.MidiFlow {
  display: flex;
  align-items: center;
  width: min-content;
  user-select: none;
  z-index: 10;
  color: var(--c-high-alt);
}
.MidiFlow:hover {
  background-color: var(--c-hover);
}
.MidiFlow .In, .MidiFlow .Out {
  border:solid var(--c-high-alt) 1px;
  width: 1rem;
  height: 1rem;
  margin:1px;
}


.InjectMidiPanel {
  background-color: var(--c-back);
}
.InjectMidiPanel form {
  display: flex;
}


.InjectMidiPanel .inputCommands{
  display: flex;
  flex-wrap: wrap;
  gap:0.25rem;
}

.InjectMidiPanel .codeblocks {
  display: flex;
  flex-wrap: wrap;
  margin-block: 0.25rem;
  height: fit-content;
}

.InjectMidiPanel .codeblock {
  margin-right: 0.5rem;
  border-right: solid black 2px;
  color:darkblue;
  position: relative;
}
.InjectMidiPanel .codeblock.function{
  background-color: lightblue;
}
.InjectMidiPanel .codeblock.constant{
  background-color: lightgoldenrodyellow;
}
.InjectMidiPanel .codeblock.status{
  background-color: greenyellow;
}
.InjectMidiPanel .codeblock.variable{
  background-color:plum;
}

.InjectMidiPanel .codeblock * {
  margin: 1px;
}
.InjectMidiPanel .codeblock .argument{
  width:4ch;
  border: dotted var(--c-high) 2px;
}
.InjectMidiPanel .codeblock .remove {
  background-color: none;
  color: red;
  position: absolute;
  right: 0;
  top: 0;
  user-select: none;
}
.InjectMidiPanel .codeblock .remove:hover {
  background: red;
  color: white;
}



.MidiIO::before{
  display: block;
}
.MidiIO{
  height: 100%;
  padding: 1rem;
}
.MidiIO .Option {
  background-color: var(--c-high);
  color: var(--c-main);
  width: fit-content;
  padding-inline: 1rem;
  border-radius: 1rem 0;
}
.MidiIO .Option.Active {
  background-color: gold;
}
