
.MidiFlow {
  display: flex;
  align-items: center;
  width: min-content;
  user-select: none;
  z-index: 10;
  color: var(--c-high-alt);
}
.MidiFlow:hover {
  background-color: var(--c-hover);
}
.MidiFlow .In, .MidiFlow .Out {
  border:solid var(--c-high-alt) 1px;
  width: 1rem;
  height: 1rem;
  margin:1px;
}


.InjectMidiPanel {
  background-color: var(--c-back);
}
.InjectMidiPanel form {
  display: flex;
}
.InjectMidiPanel .inputStream{
  color: var(--c-main);
  background-color: var(--c-back);
  border: none;
  font: inherit;
  flex-grow: 1;
}
.InjectMidiPanel .inputStream:hover {
  background-color: var(--c-hover);
}
.InjectMidiPanel .inputStream:focus {
  outline: none !important;
  background-color: var(--c-sel);
  color: var(--c-sel-alt);
}

.InjectMidiPanel .inputCommands{
  display: flex;
  flex-wrap: wrap;
  gap:0.25rem;
}

.InjectMidiPanel .codeblocks {
  display: flex;
  flex-wrap: wrap;
  margin-block: 0.25rem;
  height: fit-content;
}

.InjectMidiPanel .codeblock {
  margin-right: 0.5rem;
  border-right: solid black 2px;
  color:darkblue;
}
.InjectMidiPanel .codeblock.function{
  background-color: lightblue;
}
.InjectMidiPanel .codeblock.constant{
  background-color: lightgoldenrodyellow;
}
.InjectMidiPanel .codeblock.status{
  background-color: greenyellow;
}
.InjectMidiPanel .codeblock.variable{
  background-color:plum;
}





.MidiIO::before{
  display: block;
}
.MidiIO{
  height: 100%;
  padding: 1rem;
}
.MidiIO .Option {
  background-color: var(--c-high);
  color: var(--c-main);
  width: fit-content;
  padding-inline: 1rem;
  border-radius: 1rem 0;
}
.MidiIO .Option.Active {
  background-color: gold;
}
