.MinimScreenArray{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block: 1rem;
}

.ContextScreen{
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    font-size: x-small;
}

.ContextScreen canvas {
    image-rendering: pixelated;
    border:solid var(--c-high) 1px;
    background-color: var(--c-back);
    color: var(--c-main);
}

.ContextScreen.Error {
    outline:solid  var(--c-error) 3px;
}
.ContextScreenError{
    color: var(--c-error-alt);
    position:absolute;
    top:0;
    left:0;
}
.ContextScreen:hover .ContextScreenError{
    color: var(--c-main);
} 
.ContextScreenInfo {
    opacity: 0.3;
    color: var(--c-high);
    position:absolute;
    bottom:0;
    left:0;
}
.ContextScreen:hover{
    outline:solid var(--c-hover) 3px;
}
.ContextScreen:hover .ContextScreenInfo {
    opacity: 1.0;
}

.ContextScreen.C0 canvas {
    height:7rem;
}

.MinimScreenInspect {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ContextDetail {
    background-color: var(--c-back);
    color: var(--c-main);
    height:100%;
}