[submodule "minim/deps/libpd"]
	path = minim/deps/libpd
	url = https://github.com/libpd/libpd.git
[submodule "minim/deps/raylib"]
	path = minim/deps/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "minim/deps/rtmidi"]
	path = minim/deps/rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "minim/deps/rtaudio"]
	path = minim/deps/rtaudio
	url = https://github.com/thestk/rtaudio
