body {
  margin: 0;
  background-color: #111;
  color:ivory;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

code, h1, h2, h3, p, span {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1, h2, h3 {
  font-weight: normal;
}

*, *::after, *::before{
  box-sizing: border-box;
}

.App{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.MenuTitle {
  text-transform:uppercase;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  border-bottom: solid black 1px;
}
.CurrentMenu {
  overflow-y: scroll;
  flex-grow: 1;
  background-color: white;
  color:black;
}

.MidiFlow {
  display: flex;
  align-items: center;
  width: min-content;
  user-select: none;
  z-index: 10;
}
.MidiFlow:hover {
  background-color: #ddd;
}
.MidiFlow .In, .MidiFlow .Out {
  border:solid black 1px;
  width: 1rem;
  height: 1rem;
  margin:1px;
}

.MidiIO::before{
  display: block;
}
.MidiIO{
  height: 100%;
  padding: 1rem;
}
.MidiIO .Option {
  background-color: #444;
  color: white;
  width: fit-content;
  padding-inline: 1rem;
  border-radius: 1rem 0;
}
.MidiIO .Option.Active {
  background-color: gold;
}