
.MidiFlowIndicator {
  display: flex;
  align-items: center;
  width: min-content;
  user-select: none;
}
.MidiFlowIndicator .In, .MidiFlowIndicator .Out {
  border:solid var(--c-high-alt) 1px;
  width: 1rem;
  height: 1rem;
  margin:1px;
}
.MidiFlowIndicator .undefined,
.MidiFlowIndicator .null{
  border:dotted var(--c-high-alt) 1px;
}

.MidiFlowIndicator:focus .SettingsMidi {
  opacity: 1;
  pointer-events: initial;
}
.MidiFlowIndicator .SettingsMidi {
  opacity: 0;
  pointer-events: none;
}
.SettingsMidi {
  position: absolute;
  top:150%;
  left:50%;
  transform: translateX(-50%);
  width:80vw;
  border-radius: 1rem;
  padding: 1rem;
  background: var(--c-back);
  color: var(--c-high);

  filter: drop-shadow(0 0 5px var(--c-high));
  display: grid;
  grid-template-columns: [start] 1fr [icons] 2rem [end] 1fr;
  align-items: center;
  gap:1rem;
}
.SettingsMidi::before {
  position: absolute;
  bottom:100%;
  left:50%;
  transform: translateX(-50%);

  content: '';
  background-color: inherit;
  width:1rem;
  height: 1rem;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 10;
}

.SettingsMidi::after {
  position: absolute;
  content: '';
  background-color: none;
  left: 0;
  bottom:100%;
  width: 100%;
  height: 3rem;
}
.SettingsMidi .Option {
  background-color: var(--c-back);
  color: var(--c-main);
  margin-block: 0.5rem;
}
.SettingsMidi .Option.Selected {
  background-color: var(--c-high);
}
.SettingsMidi .InputList {
  grid-column: start;
}
.SettingsMidi .OutputList {
  grid-column: end;
}



.StreamView {
  display: flex;
}

.CommandButtons{
  display: flex;
  flex-wrap: wrap;
  gap:0.25rem;
}

.StreamCodeBlocks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}


.codeblock {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  border-right: solid var(--c-high) 2px;
  color:var(--c-main);
}
.codeblock.function{
  background-color: var(--cmd-function);
}
.codeblock.constant{
  background-color: var(--cmd-constant);
}
.codeblock.status{
  background-color: var(--cmd-status);
}
.codeblock.variable{
  background-color: var(--cmd-variable);
}

.codeblock * {
  margin: 1px;
}
.codeblock p {
  display: flex;
}
.codeblock .argument{
  width:4ch;
  border: dotted var(--c-high) 2px;
}
.codeblock .remove {
  margin-left: auto;
  opacity: 0;
  background-color: none;
  color: red;
  user-select: none;
}
.codeblock:hover .remove {
  opacity: 1;
}
.codeblock .remove:hover {
  background: red;
  color: white;
}
.codeblock[data-name=string] > p:nth-child(2){
  flex-direction: column;
}
.codeblock[data-name=string] > p:nth-child(2) div{
  margin-left: 1rem;
}
.codeblock[data-name=string] > p:nth-child(2) div:nth-child(4) input{
  width: 10rem;
}


.displaylist {
  counter-reset: display-list-counter;
  list-style: none;
  padding: 0;
}
.displaylist li{
  counter-increment: display-list-counter;
  background-color: var(--c-back-alt); 
  color: var(--c-main-alt);
  border-bottom: solid var(--c-high) 2px;
  margin-bottom: 0.25rem;
}
.displaylist li::before{
  content: counter(display-list-counter);
  background-color: red;
  padding-inline: 0.5rem;
  margin-right: 0.25rem;
}
.displaylist li:nth-child(1n)::before{
  background-color: var(--c-seq1);
  color: black;
}
.displaylist li:nth-child(2n)::before  {
  background-color: var(--c-seq2);
  color: black;
}
.displaylist li:nth-child(3n)::before {
  background-color: var(--c-seq3);
  color: white;
}
.displaylist li:nth-child(4n)::before  {
  background-color: var(--c-seq4);
  color: white;
}
.displaylist li:nth-child(5n)::before {
  background-color: var(--c-seq5);
  color: white;
}
.displaylist li .linked {
  background-color: orange;
  color: rgb(56, 3, 87);
}
.displaylist li .linked:nth-child(1n){
  background-color: var(--c-seq1);
  color: black;
}
.displaylist li .linked:nth-child(2n){
  background-color: var(--c-seq2);
  color: black;
}
.displaylist li .linked:nth-child(3n){
  background-color: var(--c-seq3);
  color: black;
}
